body {
  font-family: Arial, sans-serif;
  background: rgb(159,52,164);
  background: linear-gradient(0deg, rgba(159,52,164,1) 0%, rgba(95,255,245,1) 100%);
}
#header {
  display: flex;
  align-items: center;
  background: rgb(251,255,73);
  background: linear-gradient(90deg, rgba(251,255,73,1) 0%, rgba(253,145,29,0.7904411764705882) 40%, rgba(255,98,98,0.829656862745098) 66%);
  width: 60%;
  margin: 0px auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#name {
  font-size: 20px;
  font-weight: bold;
}



h1 {
  text-align: center;
  margin-top: 35px;
  color: #333;
  font-family: 'Comic Sans MS', cursive;
}

#chatbox {
  width: 60%;
  margin: 0px auto;
  background: rgb(226,61,103);
  background: linear-gradient(90deg, rgba(226,61,103,1) 0%, rgba(255,107,189,0.7792366946778712) 50%, rgba(198,33,33,0.4010854341736695) 100%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#chatlogs {
  height: 400px;
  overflow-y: scroll;
  padding: 15px;
}

.chat {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.antwort {
  background-color: #ea6985;
  float: right;
  border-radius: 10px;
  color: white;
  clear: both;
}

.frage {
  background-color: #712f49;
  float: left;
  border-radius: 10px;
  color: white;
  clear: both;
}

.user {
  background-color: #bbb;
  float: left;
  border-radius: 10px;
  color: white;
  clear: both;
}

#chatform {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

#chatinput {
  flex-grow: 1;
  background-color: #712f49;
  margin-right: 10px;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button[type="submit"] {
  padding: 15px 20px;
  background-color: #ea6985;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  #chatbox {
    width: 83%;
    margin: 0px 5%;
  }

  body {
    font-size: 14px;
  }
#header{
  width: 83%;
  margin: 0px 5%;
}

}
